section.dashboard {

    display: flex;
    padding: 2rem 0.5rem;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    border: none;
    gap: 1rem 2rem;
    h2 {
        text-align: center;
    }

    section {
        
        margin: 0 auto;
    }




}