@import './Variables/Forms';
section.home {
   margin: 5rem auto;

   section.form {

      max-width: 20rem;
      margin: 2rem ;
      box-shadow: rgba(0, 0, 0, 0.24) 0  0.2em 0.5em;
      border-radius: 0.5rem;
      padding:1rem;
     
     
   }
}

