@import './Variables/Forms';
section.home {
 

   section.form {
      margin: 5rem auto;
      max-width: 20rem;
      box-shadow: rgba(0, 0, 0, 0.24) 0  0.2em 0.5em;
      border-radius: 0.5rem;
      padding:1rem;
     
     
   }
}

